.web-gl-experience {
  @extend %cover;
  z-index: -1;
  filter: blur(1px);

  &::before {
    content: '';
    @extend %cover;
    z-index: 1;

    background-color: var(--accent-clr);
    filter: brightness(0.5);
    mix-blend-mode: overlay;
  }

  &::after {
    content: '';
    @extend %cover;
    z-index: 1;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9) inset;
  }
}

.web-gl-experience__loader {
  @extend %cover;
  z-index: 22;
  background: red;
}
