.home {
  @extend %page;
}

.home__wrapper {
  @extend %page__wrapper;
}

.home__hero {
  position: sticky;
  top: 0;
  z-index: 0;

  @extend %space-between;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  transform-origin: center bottom;
}



.home__main {
  @extend %center;
  flex-direction: column;
}

.home__title {
  @extend %center;
  @extend %title-104;

  color: var(--accent-clr);


  span {
    filter: drop-shadow(var(--neon-shadow));
    display: block;

    &:nth-of-type(2) {
      padding-inline-start: 8rem;
    }

    &:nth-of-type(4) {
      padding-inline-end: 8rem;
    }

    &.pixel {
      font-family: 'DotGothic16';
      color: var(--text-clr);
      margin-inline: 0.2rem;
    }
  }

  @include media ("<phone") {
    span {

      &:nth-of-type(2) {
        padding-inline-start: 3rem;
      }

      &:nth-of-type(4) {
        padding-inline-end: 2rem;
      }
    }
  }
}

.home__subtitle {
  @extend %title-22;
  filter: drop-shadow(var(--neon-shadow));
}

.home__footer {
  padding: 3.2rem;
}

.home__link {
  @extend %title-22;
  filter: drop-shadow(var(--neon-shadow));
}

.home__about {
  position: relative;
  z-index: 1;
  height: 100vh;
  max-height: 100vh;
  padding: 6.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  background-color: #000000;
  color: black;
  filter: drop-shadow(var(--neon-shadow));
}

.home__about__title,
.home__about__decoration {
  @extend %title-128;
  max-width: 3ch;
  word-wrap: break-word;
  word-break: break-all;

  color: var(--text-clr);
  text-shadow: var(--text-shadow);

}

.home__about__decoration {
  grid-row: 2;
  align-self: flex-end;
  line-height: 100%;
  height: 7.5rem;
  overflow: hidden;
}

.home__about__paragraph {
  @extend %paragraph-18;
  max-width: 32ch;
  color: var(--text-clr);
  text-shadow: var(--text-shadow);
}

.home__about__img {
  align-self: flex-end;

  position: relative;
  @include ratio(374, 472);
  width: 37.4rem;
  height: 47.2rem;

  grid-row: 2;
}

.horizontal {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
}
