.home {
  @extend %page;
}

.home__wrapper {
  @extend %page__wrapper;
  @extend %space-between;
  flex-direction: column;

  height: 100%;
}

.home__header {
  @extend %space-between;
  width: calc(100% - 3.2rem);

  margin: 1.6rem;
  padding: 1.6rem;
  border-radius: 0.8rem;

  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(100px);

  @include media ("<phone") {
    width: calc(100% - 1.6rem);
    padding: 0.8rem;
    margin: 0.8rem;
  }
}

.home__last-updated,
.home__status {
  --gap: 2.4rem;
  @extend %center;
  @extend %paragraph-16;

  @include media ("<phone") {
    --gap: 0.8rem;
  }
}

.home__main {
  @extend %center;
  flex-direction: column;
}

.home__title {
  @extend %center;
  @extend %title-104;

  color: var(--accent-clr);

  span {
    filter: drop-shadow(var(--neon-shadow)) blur(0.5px);

    &.pixel {
      font-family: 'DotGothic16';
      color: var(--text-clr);
      margin-inline: 0.2rem;
    }
  }
}

.home__subtitle {
  @extend %title-22;
  filter: drop-shadow(var(--neon-shadow));
}

.home__footer {
  padding: 3.2rem;
}

.home__link {
  @extend %title-22;
  filter: drop-shadow(var(--neon-shadow));
}
